@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

@tailwind base;

body {
    background: linear-gradient(231.84deg, #040B22 3.15%, #252935 94.07%);
}

.main-bg-gradient {
    background: linear-gradient(231.84deg, #040B22 3.15%, #252935 94.07%);
}

.main-bg-gradient-inverted {
    background: linear-gradient(51.84deg, #040B22 3.15%, #252935 94.07%);
}

@media (min-width: 770px) {
    .clearGradient {
        background: none;
    }
}

@font-face {
    font-family: 'Lucidia Console';
    src: url('../assets/fonts/Lucida\ Console\ Regular.ttf') format('truetype');
}

/* ################################### MARKDOWN VIEW ########################################### */

.md-view {
    all: revert;
    color: white;
    font-family: 'Lucidia Console';
    margin-left: 25rem;
    margin-right: 25rem;
}

.md-view > h1 {color: #D7FF67; font-size: xx-large; margin-bottom: 2.5rem; margin-top: 1rem;}
.md-view > h2 {color: #D7FF67; font-size: x-large; margin-top: 3rem; margin-bottom: 1rem;}
.md-view > h3 {color: #D7FF67; font-size: larger; margin-top: 3rem; margin-bottom: 1rem;}
.md-view > hr {background-color: #D7FF67; margin: 1rem 2rem;}
.md-view > table, th, td {border: 1px solid white;}
.md-view > blockquote {border-left: 5px solid #ccc; padding: 1rem; background: rgba(0, 0, 0, 0.25); display: inline; margin: 1rem 0rem;}
.md-view > blockquote p {display: inline; margin: 0 8rem;}
.md-view > p {margin-bottom: 2rem;}
.md-view > p > a {color: #D7FF67; border-bottom: 1px solid #D7FF67;}
.md-view > p > img {display: block; margin: 2rem auto; width: 50%;}
.md-view > ol {list-style-type: decimal;}

.project-card-gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media (max-width: 1500px) {
    .md-view {
        margin-left: 16rem;
        margin-right: 16rem;
        max-width: 100vw;
    }
    /* .md-view > h1 {color: #ff7167; font-size: xx-large;} */
}
@media (max-width: 770px) {
    .md-view {
        margin-left: 5rem;
        margin-right: 5rem;
        max-width: 100vw;
    }
    /* .md-view > h1 {color: #ff7167; font-size: xx-large;} */
}

/* ################################### MARKDOWN VIEW ########################################### */

@tailwind components;

body {
    @apply scrollbar scrollbar-thumb-rounded-md scrollbar-thumb-mdd-green-strong scrollbar-thin scrollbar-track-gray-800;
}
.main-bg-div {
    @apply w-screen h-screen main-bg-gradient overflow-hidden;
}

.general-text {
    @apply text-white font-fira-code;
}

.card-h {
    @apply text-white font-montserrat font-bold;
}

@tailwind utilities;