@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

@tailwind base;

.main-bg-gradient {
    background: linear-gradient(231.84deg, #040B22 3.15%, #252935 94.07%);
}

@font-face {
    font-family: 'Lucidia Console';
    src: url('./assets/Lucida\ Console\ Regular.ttf') format('truetype');
}

/* ################################### MARKDOWN VIEW ########################################### */

.md-view {
    color: white;
    font-family: 'Lucidia Console';
}

.md-view > h1 {color: #D7FF67; font-size: xx-large;}
.md-view > h2 {color: #D7FF67; font-size: x-large;}
.md-view > h3 {color: #D7FF67; font-size: larger;}
.md-view > hr {background-color: #D7FF67; margin: 1rem 2rem;}
.md-view > table, th, td {border: 1px solid white;}
.md-view > blockquote {border-left: 5px solid #ccc; padding: 1rem; background: rgba(0, 0, 0, 0.25); display: inline; margin: 1rem 0rem;}
.md-view > blockquote p {display: inline;}

/* ################################### MARKDOWN VIEW ########################################### */

@tailwind components;

.main-bg-div {
    @apply w-screen h-screen main-bg-gradient overflow-hidden;
}

.general-text {
    @apply text-white font-fira-code;
}

.card-h {
    @apply text-white font-montserrat font-bold;
}

@tailwind utilities;